
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/uploads/
/src/.preload.php
/var/
/vendor/
###< symfony/framework-bundle ###
php_errors.log
config/secrets/dev/dev.decrypt.private.php
config/secrets/dev/dev.encrypt.public.php
